.button {
    background-color: $primary-color;
    color: white;
  }
  
  .button-lighter {
    background-color: $lighter-primary;
  }
  
  .button-darker {
    background-color: $darker-primary;
  }