// Styles for contact form
.contact-form {
    padding: 5px;
  
    h2 {
      font-size: 24px;
      color: $text-color;
    }
  
    label {
      font-size: 18px;
      color: $text-color;
    }
  }
  