// Styles for section header
.section-header {
    margin-top: 40px;
  
    h3 {
      font-size: 36px;
      color: $primary-color;
    }
  
    .line {
      display: block;
      margin: 20px auto;
      width: 60px;
      height: 2px;
      background: $secondary-color;
    }
  }
  