// Variables
$primary-color: #FF0099;
$secondary-color: #DC00D3;
$background-color: #ffffff;
$form-background-color: #FFC3EE;
$button-background-color: #FF00F5;
$text-color: #333;
$info-background-color: #FF00F5;
$info-text-color: #fff;
$alert-background-color: #FABBFA;
$list-item-margin: 10px;
$icon-background-color: #FABBFA;
$p-background-color: #B38CB3;
