body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.section-header {
  margin-top: 40px;
}
.section-header h3 {
  font-size: 36px;
  color: #FF0099;
}
.section-header .line {
  display: block;
  margin: 20px auto;
  width: 60px;
  height: 2px;
  background: #DC00D3;
}

.contact-form {
  padding: 5px;
}
.contact-form h2 {
  font-size: 24px;
  color: #333;
}
.contact-form label {
  font-size: 18px;
  color: #333;
}

.contact-info {
  background-color: #FF00F5;
  padding: 40px;
  border-radius: 10px;
  color: #fff;
}

.alert {
  margin-top: 20px;
  text-align: center;
  display: none;
}

#icon {
  height: 60px;
  background-color: #FABBFA;
  margin: 0;
  padding-top: 5px;
  display: flex;
  justify-content: flex-start;
}

.list-inline-item {
  margin-left: 10px;
}

#p {
  max-height: 30px;
  background-color: #B38CB3;
  margin: 0;
  padding: 2px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #FABBFA;
}
.navbar .navbar-brand {
  margin-right: auto;
}
.navbar #logo {
  height: 45px;
}
.navbar .navbar-nav .nav-link {
  color: black;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.contact-form {
  padding: 5px;
}
.contact-form h2 {
  font-size: 24px;
  color: #333;
}
.contact-form .btn-grad {
  background-color: #FF00F5;
}
.contact-form .btn-grad:hover {
  background-image: linear-gradient(to right, #d332c6, #ff14c4);
}

.alert {
  margin-top: 20px;
  text-align: center;
  display: none;
}

.button-1 {
  background-color: #FF0099;
}

.button-2 {
  background-color: #DC00D3;
}

.button-3 {
  background-color: #FF00F5;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.section-header {
  margin-top: 40px;
}
.section-header h3 {
  font-size: 36px;
  color: #FF0099;
}
.section-header .line {
  display: block;
  margin: 20px auto;
  width: 60px;
  height: 2px;
  background: #DC00D3;
}

.contact-form {
  padding: 5px;
}
.contact-form h2 {
  font-size: 24px;
  color: #333;
}
.contact-form label {
  font-size: 18px;
  color: #333;
}
.contact-form .form-control {
  height: 42px;
  padding: 10px;
  background: #FFC3EE;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #e4e4e4;
  transition: all 0.3s ease-in-out;
}
.contact-form .form-control:focus {
  background-color: #FFC3EE;
}
.contact-form textarea {
  resize: none;
  padding: 10px;
  height: 150px;
  background: #FFC3EE;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #e4e4e4;
  transition: all 0.3s ease-in-out;
}
.contact-form textarea:focus {
  background-color: #FFC3EE;
}
.contact-form .btn-grad {
  background-color: #FF00F5;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
}
.contact-form .btn-grad:hover {
  background-image: linear-gradient(to right, #d332c6, #ff14c4);
}

.contact-info {
  background-color: #FF00F5;
  padding: 40px;
  border-radius: 10px;
  color: #fff;
}
.contact-info .contact-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.contact-info .contact-item i {
  font-size: 24px;
  margin-right: 10px;
}
.contact-info .contact-item p {
  font-size: 18px;
  margin: 0;
}
.contact-info img {
  max-width: 65%;
  height: auto;
}

.alert {
  margin-top: 20px;
  text-align: center;
  display: none;
}

#icon {
  height: 60px;
  background-color: #FABBFA;
  margin: 0;
  padding-top: 5px;
  display: flex;
  justify-content: flex-start;
}

.list-inline-item {
  margin-left: 10px;
}

#p {
  max-height: 30px;
  background-color: #B38CB3;
  margin: 0;
  padding: 2px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #FABBFA;
}
.navbar .navbar-brand {
  margin-right: auto;
}
.navbar #logo {
  height: 45px;
}
.navbar .navbar-nav .nav-link {
  color: black;
}/*# sourceMappingURL=contact.css.map */