@import 'nav';

$secondary-color:#B38CB3;
$button-background-color:#FF00F5;
$font-stack:Montserrat, sans-serif;
$lighter-primary: color($secondary-color, 20); 
$darker-primary: color($secondary-color, -20);

#status {
	font-size: 20px;
  
	@if $primary-color == pink {
	  color: $primary-color;
	} @else if $primary-color == magenta {
	  color: $secondary-color;
	} @else {
	  color: black;
	}
  }

/* navbar */
.container {
	width: 100%;
	margin: 0 auto;
	padding: 0;
  }
  /* navbar */

  /* footer */
  .garis {
	width: 100%; /* Lebar garis 100% dari lebar container */
	border: 1px solid #000; /* Warna dan jenis garis */
	margin: 20px 0; /* Margin atas dan bawah untuk jarak */
}
  #footer {
	max-width: 100%;
	background-color: $secondary-color;
	margin: 0;
	padding: 10px 0;
	text-align: center;
  }
  

  #icon {
    height: 60px;
    background-color: $secondary-color;
    margin: 0;
    padding-top: 5px;
    display: flex;
    justify-content: flex-start;
}



.list-inline-item {
    margin-left: 10px; 
}

.horizontal-line {
	border: none;
	height: 2px;
	background-color: #000;
}
  
#p{
    max-height: 30px;
    background-color: $secondary-color;
    margin: 0;
    padding: 2px;
}

@media (max-width: 767px) {
	#icon{
		justify-content: center;
	}
}
#logo {
  img {
    width: 250px;
    margin-left: 50px;
  }
}

.footer-control {
  $bg-color: #fabbfa;
  #icon {
    height: 60px;
    background-color: $bg-color;
    margin: 0;
    padding-top: 5px;
    display: flex;
    justify-content: flex-start;
  }
}

.nav-link active {
  $bg-color: #b38cb3;
  #p {
    max-height: 30px;
    background-color: #b38cb3;
    margin: 0;
    padding: 2px;
  }
}
